.card {
    background-color: rgb(237, 235, 235, 0.5);
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}

.card:active {
    border: 2px solid rgb(56, 148, 118);
}

.card:hover {
    border: 2px solid rgb(56, 148, 118);

}


.selected_Card {
    border: 2px solid rgb(56, 148, 118);

}

.orderListBody {
    padding: 20px;
    background-color: white;
}

.scrollList {
    height: 650px;
    overflow-y: scroll;
}

.scrollList::-webkit-scrollbar {
    width: 2px;
}

.scrollList::-webkit-scrollbar-track {
    background-color: rgb(209, 209, 209);
}

.scrollList::-webkit-scrollbar-thumb {
    background-color: rgb(77, 76, 76);
    border-radius: 10px;
    height: 30px;
}